@import "../../../styles/global_variables.scss"

.remove-block-button
	position: absolute
	top: 62px
	left: 8px
	width: 46px
	height: 46px
	background: #A0ACB4
	color: #fff
	font-size: 34px
	border: none
	line-height: 1
	@include border-radius(46px)
	z-index: 2
