# api
/api/*.log*
/api/node_modules
/api/src/generated/
/api/.env
/api/prisma/.env
/api/prisma/migrations/

# web
/web/*.log*
/web/node_modules
/web/build
/web/.DS_Store
/web/.env
/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local
/web/out/

# design
/design/

# legacy
/v1/
/old_versions/
/node_modules/
/temp/
