/* secondary */
.ant-btn-secondary {
  color: #fff !important;
  background-color: #68C1D2 !important;
  border-color: #68C1D2 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.ant-btn-secondary-disabled,
.ant-btn-secondary.disabled,
.ant-btn-secondary[disabled],
.ant-btn-secondary-disabled:hover,
.ant-btn-secondary.disabled:hover,
.ant-btn-secondary[disabled]:hover,
.ant-btn-secondary-disabled:focus,
.ant-btn-secondary.disabled:focus,
.ant-btn-secondary[disabled]:focus,
.ant-btn-secondary-disabled:active,
.ant-btn-secondary.disabled:active,
.ant-btn-secondary[disabled]:active,
.ant-btn-secondary-disabled.active,
.ant-btn-secondary.disabled.active,
.ant-btn-secondary[disabled].active {
  color: rgba(0, 0, 0, 0.25) !important;
  background-color: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.ant-btn-secondary:hover,
.ant-btn-secondary:focus {
  color: #fff !important;
  background-color: #92d4de !important;
  border-color: #92d4de !important;
}
.ant-btn-secondary:active,
.ant-btn-secondary.active {
  color: #fff !important;
  background-color: #4d98ab !important;
  border-color: #4d98ab !important;
}
.ant-btn-background-ghost.ant-btn-secondary {
  color: #68C1D2 !important;
  background: transparent !important;
  border-color: #68C1D2 !important;
  text-shadow: none !important;
}
.ant-btn-background-ghost.ant-btn-secondary:hover,
.ant-btn-background-ghost.ant-btn-secondary:focus {
  color: #92d4de !important;
  background: transparent !important;
  border-color: #92d4de !important;
}
.ant-btn-background-ghost.ant-btn-secondary:active,
.ant-btn-background-ghost.ant-btn-secondary.active {
  color: #68C1D2 !important;
  background: transparent !important;
  border-color: #4d98ab !important;
}

/* clear */
.ant-btn-clear {
  color: rgba(0,0,0,.85) !important;
  background-color: #fff !important;
  border-color: #d9d9d9 !important;
}
.ant-btn-clear-disabled,
.ant-btn-clear.disabled,
.ant-btn-clear[disabled],
.ant-btn-clear-disabled:hover,
.ant-btn-clear.disabled:hover,
.ant-btn-clear[disabled]:hover,
.ant-btn-clear-disabled:focus,
.ant-btn-clear.disabled:focus,
.ant-btn-clear[disabled]:focus,
.ant-btn-clear-disabled:active,
.ant-btn-clear.disabled:active,
.ant-btn-clear[disabled]:active,
.ant-btn-clear-disabled.active,
.ant-btn-clear.disabled.active,
.ant-btn-clear[disabled].active {
  color: rgba(0, 0, 0, 0.25) !important;
  background-color: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.ant-btn-clear:hover,
.ant-btn-clear:focus {
  color: #3B5E7A !important;
  background-color: #fff !important;
  border-color: #3B5E7A !important;
}
.ant-btn-clear:active,
.ant-btn-clear.active {
  color: #3B5E7A !important;
  background-color: #fff !important;
  border-color: #3B5E7A !important;
}
.ant-btn-background-ghost.ant-btn-clear {
  color: #3B5E7A !important;
  background: transparent !important;
  border-color: #3B5E7A !important;
  text-shadow: none !important;
}
.ant-btn-background-ghost.ant-btn-clear:hover,
.ant-btn-background-ghost.ant-btn-clear:focus {
  color: #3B5E7A !important;
  background: transparent !important;
  border-color: #3B5E7A !important;
}
.ant-btn-background-ghost.ant-btn-clear:active,
.ant-btn-background-ghost.ant-btn-clear.active {
  color: #3B5E7A !important;
  background: transparent !important;
  border-color: #3B5E7A !important;
}
