/**
 * Customize AntDesign Theme default variables
 * https://ant.design/docs/react/customize-theme
*/

// Colors
// ---
@primary-color: #68C1D2;
@btn-default-color: #fff;
@btn-default-bg: #3D475A;
@btn-default-border: #3D475A;
@border-color-base: #3D475A;

// Base Scaffolding Variables
// ---
@body-background: #ffffff;
@font-family: "Roboto", sans-serif;

// Typography
// ---
@typography-title-font-weight: 500;
