/**
 * Customize AntDesign Theme default variables
 * https://ant.design/docs/react/customize-theme
*/

// Colors
// ---
@primary-color: #3D4A63;

// Base Scaffolding Variables
// ---
@body-background: #ffffff;
@font-family: "Roboto", sans-serif;

// Typography
// ---
@typography-title-font-weight: 500;
