@import "../../styles/global_variables.scss"

// @include media-size(768)
// 	border: none
// 	border-left: $navigation_bar * 1px solid transparent

.part
	position: relative
	float: left
	width: auto
	background-image: url('/images/111111111.jpg')

	> .part-start
		position: absolute
		top: (($note_size / 2) - 1) * 1px
		left: 0
		width: 8px
		height: (($note_size * 5) + 1) * 1px
		border-left: 4px solid #303030 //988c69
		border-right: 1px solid #bfc4c7
		z-index: 1


.background-lines
	position: absolute
	top: 0
	left: 0
	width: 100%

	> .line-1,
	> .line-2,
	> .line-3,
	> .line-4,
	> .line-5,
	> .line-6
		width: 100%
		border-bottom: 1px solid #d6dce0
		// background-image: linear-gradient(to right, #4a5056 60%, rgba(255, 255, 255, 0) 0%)
		// background-position: bottom
		// background-size: 6px 1px
		// background-repeat: repeat-x

	> .line-1
		height: ($line_height / 2) * 1px

	> .line-2,
	> .line-3,
	> .line-4,
	> .line-5,
	> .line-6
		height: $line_height * 1px


.add-block-button
	position: absolute
	z-index: 1


.remove-block-button
	position: absolute
	top: 40px
	z-index: 1

